body {
    background-color: beige;
}

.animaatio {
    font-size: 3em;
    color: darkred;
}

.teksti {
    color: crimson;
}

.alaotsikko {
    color: darkred;
}

p {
    color: firebrick;
}

em {
    color: firebrick;
}

.first-box-container {

    width: 200px;

    height: 100px;
    border-color: green;
    border-width: 10px;
    border-style: solid;
    text-align: center;

    background-color: red;

}



.second-box-container {

    width: 200px;

    height: 100px;
    position: relative;
    left: 250px;
    top: -120px;
    border-color: red;
    border-width: 10px;
    border-style: solid;
    text-align: center;

    background-color: yellow;

}



.third-box-container {

    width: 200px;

    height: 100px;
    position: relative;
    left: 500px;
    top: -240px;
    border-color: yellow;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    

    background-color: green;

}

#musta {
    color: blue;
}