body {
    background-color: beige;
}

.animaatio {
    font-size: 3em;
    color: darkred;
}

.teksti {
    color: crimson;
}

.alaotsikko {
    color: darkred;
}

p {
    color: firebrick;
}

em {
    color: firebrick;
}

.first-box-container {

    width: 200px;

    height: 100px;

    background-color: red;

}



.second-box-container {

    width: 200px;

    height: 100px;
    position: relative;
    left: 250px;
    top: -115px;
    
    

    background-color: yellow;

}



.third-box-container {

    width: 200px;

    height: 100px;
    position: relative;
    left: 500px;
    top: -230px;
    

    background-color: green;

}

#musta {
    color: black;
}